.PokeNavBar {
  /* width: 16rem;
  height: 10rem; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  /* box-shadow: */
  /* 0 7px 30px -10px rgba(150,170,180,0.5); */
  /* position: absolute; */
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1.5rem;
  animation: fadeIn 0.5s ease-in-out;
}

@media screen and (max-width: 589px) {
  .PokeNavBar {
    width: 14.5rem;
  }
}

@media screen and (min-width: 589px) {
  .PokeNavBar {
    width: 33.5rem;
  }
}

@media screen and (min-width: 893px) {
  .PokeNavBar {
    width: 52.5rem;
  }
}
